language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

notifications:
  email: false

install:
  - composer install --dev --no-interaction
script:
  - phpunit --configuration .phpunit.xml --verbose
after_script:
  - php vendor/bin/test-reporter
