parameters:
	checkMissingIterableValueType: true
	checkFunctionNameCase: true
	level: 8
	paths:
		- .
	excludePaths:
		- vendor
	ignoreErrors:
		-
			message: "#^Comparison operation \"==\" between GMP and 65536 results in an error\\.$#"
			count: 2
			path: SteamID.php
